USE [master]
GO
/****** Object:  Database [NeoBilliardsClubDB]    Script Date: 12/29/2025 9:45:55 PM ******/
CREATE DATABASE [NeoBilliardsClubDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NeoBilliardsClubDB', FILENAME = N'D:\hoctap\JavaNangCao\databases\NeoBilliardsClubDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NeoBilliardsClubDB_log', FILENAME = N'D:\hoctap\JavaNangCao\databases\NeoBilliardsClubDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NeoBilliardsClubDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NeoBilliardsClubDB]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/29/2025 9:45:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](3000) NOT NULL,
	[Role] [int] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 12/29/2025 9:45:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CheckInTime] [datetime2](0) NOT NULL,
	[CheckOutTime] [datetime2](0) NULL,
	[TotalAmount] [bigint] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[BilliardTableId] [bigint] NOT NULL,
	[OfMemberId] [bigint] NOT NULL,
	[CreatedByAccountId] [bigint] NOT NULL,
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillDetail]    Script Date: 12/29/2025 9:45:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetail](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BillId] [bigint] NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[Quantity] [bigint] NOT NULL,
 CONSTRAINT [PK_BillDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BilliardTable]    Script Date: 12/29/2025 9:45:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BilliardTable](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TableNumber] [bigint] NOT NULL,
	[ImagePath] [nvarchar](3000) NULL,
	[IsLocked] [bit] NOT NULL,
	[BilliardTableTypeId] [bigint] NOT NULL,
 CONSTRAINT [PK_BilliardTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BilliardTableType]    Script Date: 12/29/2025 9:45:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BilliardTableType](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[PricePerHour] [bigint] NOT NULL,
	[Description] [nvarchar](3000) NULL,
 CONSTRAINT [PK_BilliardTableType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeProfile]    Script Date: 12/29/2025 9:45:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeProfile](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](250) NOT NULL,
	[IsMale] [bit] NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[PhoneNumber] [varchar](15) NOT NULL,
	[CitizenIDNumber] [char](12) NOT NULL,
	[Email] [varchar](254) NOT NULL,
	[ImagePath] [nvarchar](3000) NULL,
	[AccountId] [bigint] NOT NULL,
 CONSTRAINT [PK_EmployeeProfile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 12/29/2025 9:45:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](250) NOT NULL,
	[IsMale] [bit] NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Email] [varchar](254) NOT NULL,
	[ImagePath] [nvarchar](3000) NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](3000) NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[LevelId] [bigint] NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberLevel]    Script Date: 12/29/2025 9:45:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberLevel](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[RequiredPlaytimeHours] [bigint] NOT NULL,
	[BillTotalDiscountPercentage] [int] NOT NULL,
 CONSTRAINT [PK_MemberLevel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 12/29/2025 9:45:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Price] [bigint] NOT NULL,
	[Description] [nvarchar](3000) NULL,
	[IsLocked] [bit] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Account]    Script Date: 12/29/2025 9:45:56 PM ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [IX_Account] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BillDetail]    Script Date: 12/29/2025 9:45:56 PM ******/
ALTER TABLE [dbo].[BillDetail] ADD  CONSTRAINT [IX_BillDetail] UNIQUE NONCLUSTERED 
(
	[BillId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BilliardTable]    Script Date: 12/29/2025 9:45:56 PM ******/
ALTER TABLE [dbo].[BilliardTable] ADD  CONSTRAINT [IX_BilliardTable] UNIQUE NONCLUSTERED 
(
	[TableNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BilliardTableType]    Script Date: 12/29/2025 9:45:56 PM ******/
ALTER TABLE [dbo].[BilliardTableType] ADD  CONSTRAINT [IX_BilliardTableType] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EmployeeProfile]    Script Date: 12/29/2025 9:45:56 PM ******/
ALTER TABLE [dbo].[EmployeeProfile] ADD  CONSTRAINT [IX_EmployeeProfile] UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EmployeeProfile_1]    Script Date: 12/29/2025 9:45:56 PM ******/
ALTER TABLE [dbo].[EmployeeProfile] ADD  CONSTRAINT [IX_EmployeeProfile_1] UNIQUE NONCLUSTERED 
(
	[CitizenIDNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EmployeeProfile_2]    Script Date: 12/29/2025 9:45:56 PM ******/
ALTER TABLE [dbo].[EmployeeProfile] ADD  CONSTRAINT [IX_EmployeeProfile_2] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeProfile_3]    Script Date: 12/29/2025 9:45:56 PM ******/
ALTER TABLE [dbo].[EmployeeProfile] ADD  CONSTRAINT [IX_EmployeeProfile_3] UNIQUE NONCLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Member]    Script Date: 12/29/2025 9:45:56 PM ******/
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [IX_Member] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Member_1]    Script Date: 12/29/2025 9:45:56 PM ******/
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [IX_Member_1] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MemberLevel]    Script Date: 12/29/2025 9:45:56 PM ******/
ALTER TABLE [dbo].[MemberLevel] ADD  CONSTRAINT [IX_MemberLevel] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MemberLevel_1]    Script Date: 12/29/2025 9:45:56 PM ******/
ALTER TABLE [dbo].[MemberLevel] ADD  CONSTRAINT [IX_MemberLevel_1] UNIQUE NONCLUSTERED 
(
	[RequiredPlaytimeHours] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Product]    Script Date: 12/29/2025 9:45:56 PM ******/
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [IX_Product] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Account] FOREIGN KEY([CreatedByAccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Account]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_BilliardTable] FOREIGN KEY([BilliardTableId])
REFERENCES [dbo].[BilliardTable] ([Id])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_BilliardTable]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Member] FOREIGN KEY([OfMemberId])
REFERENCES [dbo].[Member] ([Id])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Member]
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK_BillDetail_Bill] FOREIGN KEY([BillId])
REFERENCES [dbo].[Bill] ([Id])
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [FK_BillDetail_Bill]
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK_BillDetail_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [FK_BillDetail_Product]
GO
ALTER TABLE [dbo].[BilliardTable]  WITH CHECK ADD  CONSTRAINT [FK_BilliardTable_BilliardTableType] FOREIGN KEY([BilliardTableTypeId])
REFERENCES [dbo].[BilliardTableType] ([Id])
GO
ALTER TABLE [dbo].[BilliardTable] CHECK CONSTRAINT [FK_BilliardTable_BilliardTableType]
GO
ALTER TABLE [dbo].[EmployeeProfile]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeProfile_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[EmployeeProfile] CHECK CONSTRAINT [FK_EmployeeProfile_Account]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_MemberLevel] FOREIGN KEY([LevelId])
REFERENCES [dbo].[MemberLevel] ([Id])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_MemberLevel]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [CK_Account_Len_Username] CHECK  ((len([Username])>=(3) AND len([Username])<=(50)))
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [CK_Account_Len_Username]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [CK_Account_Role] CHECK  (([Role]=(1) OR [Role]=(2)))
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [CK_Account_Role]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [CK_Bill_TotalAmount] CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [CK_Bill_TotalAmount]
GO
ALTER TABLE [dbo].[BilliardTable]  WITH CHECK ADD  CONSTRAINT [CK_BilliardTable_TableNumber] CHECK  (([TableNumber]>=(0)))
GO
ALTER TABLE [dbo].[BilliardTable] CHECK CONSTRAINT [CK_BilliardTable_TableNumber]
GO
ALTER TABLE [dbo].[BilliardTableType]  WITH CHECK ADD  CONSTRAINT [CK_BilliardTableType_Description] CHECK  ((len([Description])<=(3000)))
GO
ALTER TABLE [dbo].[BilliardTableType] CHECK CONSTRAINT [CK_BilliardTableType_Description]
GO
ALTER TABLE [dbo].[BilliardTableType]  WITH CHECK ADD  CONSTRAINT [CK_BilliardTableType_Len_Name] CHECK  ((len([Name])>=(3) AND len([Name])<=(50)))
GO
ALTER TABLE [dbo].[BilliardTableType] CHECK CONSTRAINT [CK_BilliardTableType_Len_Name]
GO
ALTER TABLE [dbo].[BilliardTableType]  WITH CHECK ADD  CONSTRAINT [CK_BilliardTableType_PricePerHour] CHECK  (([PricePerHour]>=(0)))
GO
ALTER TABLE [dbo].[BilliardTableType] CHECK CONSTRAINT [CK_BilliardTableType_PricePerHour]
GO
ALTER TABLE [dbo].[EmployeeProfile]  WITH CHECK ADD  CONSTRAINT [CK_EmployeeProfile_CitizenIDNumber] CHECK  ((NOT [CitizenIDNumber] like '%[^0-9]%' AND [CitizenIDNumber]=(12)))
GO
ALTER TABLE [dbo].[EmployeeProfile] CHECK CONSTRAINT [CK_EmployeeProfile_CitizenIDNumber]
GO
ALTER TABLE [dbo].[EmployeeProfile]  WITH CHECK ADD  CONSTRAINT [CK_EmployeeProfile_Len_Address] CHECK  ((len([Address])>=(1) AND len([Address])<=(250)))
GO
ALTER TABLE [dbo].[EmployeeProfile] CHECK CONSTRAINT [CK_EmployeeProfile_Len_Address]
GO
ALTER TABLE [dbo].[EmployeeProfile]  WITH CHECK ADD  CONSTRAINT [CK_EmployeeProfile_Len_Email] CHECK  ((len([Email])>=(3) AND len([Email])<=(254)))
GO
ALTER TABLE [dbo].[EmployeeProfile] CHECK CONSTRAINT [CK_EmployeeProfile_Len_Email]
GO
ALTER TABLE [dbo].[EmployeeProfile]  WITH CHECK ADD  CONSTRAINT [CK_EmployeeProfile_Len_FullName] CHECK  ((len([FullName])>=(1) AND len([FullName])<=(250)))
GO
ALTER TABLE [dbo].[EmployeeProfile] CHECK CONSTRAINT [CK_EmployeeProfile_Len_FullName]
GO
ALTER TABLE [dbo].[EmployeeProfile]  WITH CHECK ADD  CONSTRAINT [CK_EmployeeProfile_PhoneNumber] CHECK  ((NOT [PhoneNumber] like '%[^0-9]%' AND [PhoneNumber]<=(15)))
GO
ALTER TABLE [dbo].[EmployeeProfile] CHECK CONSTRAINT [CK_EmployeeProfile_PhoneNumber]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [CK_Member_Len_FullName] CHECK  ((len([FullName])>=(1) AND len([FullName])<=(250)))
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [CK_Member_Len_FullName]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [CK_Member_Len_Username] CHECK  ((len([Username])>=(3) AND len([Username])<=(50)))
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [CK_Member_Len_Username]
GO
ALTER TABLE [dbo].[MemberLevel]  WITH CHECK ADD  CONSTRAINT [CK_MemberLevel_BillTotalDiscountPercentage] CHECK  (([BillTotalDiscountPercentage]>=(0) AND [BillTotalDiscountPercentage]<=(100)))
GO
ALTER TABLE [dbo].[MemberLevel] CHECK CONSTRAINT [CK_MemberLevel_BillTotalDiscountPercentage]
GO
ALTER TABLE [dbo].[MemberLevel]  WITH CHECK ADD  CONSTRAINT [CK_MemberLevel_Len_Name] CHECK  ((len([Name])>=(3) AND len([Name])<=(50)))
GO
ALTER TABLE [dbo].[MemberLevel] CHECK CONSTRAINT [CK_MemberLevel_Len_Name]
GO
ALTER TABLE [dbo].[MemberLevel]  WITH CHECK ADD  CONSTRAINT [CK_MemberLevel_RequiredPlaytimeHours] CHECK  (([RequiredPlaytimeHours]>=(0)))
GO
ALTER TABLE [dbo].[MemberLevel] CHECK CONSTRAINT [CK_MemberLevel_RequiredPlaytimeHours]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_Product_Description] CHECK  ((len([Description])<=(3000)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_Product_Description]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_Product_Name] CHECK  ((len([Name])>=(3) AND len([Name])<=(250)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_Product_Name]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_Product_Price] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_Product_Price]
GO
USE [master]
GO
